* {
	margin: 0;
	padding: 0;
}

 body{
	background-color:#fe4001;
 }


 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FE0101;
}

li {
  float: left;
}

li a {
	display: block;
	font-size:20px;
	color: #fff;
	text-decoration: none;
	padding: 14px 16px;     
}

 .hover a:hover{
	background-color:#fe8001;
 }

 .logo{
  font-family:Impact;
  font-size:20px;
 }

 .right{
	float:right;
 }
#center{
	 text-align: center;
}

 #mainText{
	  font-size:45px;
	  margin-top:100px;
	  color: #fff;
 }

 form{
 margin-top:40px; 
  
 }
 