* {
	margin: 0;
	padding: 0;
}

 body{
	background-color:#fe4001;
 }

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FE0101;
}

li {
  float: left;
}

    li a {
        display: block;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right:16px;
        padding-left:16px;
    }

 .hover a:hover{
	background-color:#fe8001;
 }

 .logo{
  font-family:Impact;
  font-size:20px;
 }

 .right{
	float:right;
 }
#center{
	 text-align: center;
}

#mainText {
    font-size: 75px;
    color:#fff;
    margin-top:100px;
}

input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

    input[type = "text"] {
        background: #fff;
        text-indent: 20px;
        width: 340px;
        height: 50px;
        border: none;
        outline: none;
        padding-top: 0px;
        padding-right: 30px;
    }

    input[type = "submit"] {
        position: relative;
        left: -5px;
        width: 150px;
        height: 50px;
        border: none;
        cursor: pointer;
        background: #87CEFA;
        color: #fff;
    }

        input[type = "submit"]:hover {
            background: #00FFFF ;
        }

 